@use '../../scss/' as * ;

.movie-list {
    .swiper-slide {
        width: 15%;

        @include tablet {
            width: 33%;
        }
        
        @include mobile {
            width: 50%;
        }
    }
}